<div class="container mt-4">
    <h3>Appointments</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Doctor ID</th>
          <th>Appointment Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.patientId }}</td>
          <td>{{ appointment.doctorId }}</td>
          <td>{{ appointment.appointmentDate }}</td>
          <td>{{ appointment.status }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm me-2"
              (click)="editAppointment(appointment.id)"
            >
              Edit
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteAppointment(appointment.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  