<div class="container mt-4">
    <h3>Patients</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.contact }}</td>
          <td>{{ patient.address }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm me-2"
              (click)="editPatient(patient.id)"
            >
              Edit
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="deletePatient(patient.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  